*{
    margin: 0%;
    padding: 0%;
}
section{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 20%;
    row-gap: 5%;
    justify-content: center;
    margin-top: 20px;

}
#img1{

    height: 180px;
    width: 140px;
    margin: auto;
}
#main-box1{
    margin-top: 5px;
 
    height: 190px;
    width: 160px;
    padding-left: 10px;
    padding-top: 10px;
}
#div11{
    text-align: center;
    /* border: 2px solid teal; */
    width: 168px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    margin-top: 45px;
   
}
#div21{
    text-align: center;

    width: 240px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px; 
    margin-top: 5px;
}
#button1{
    height: 40px;
    width: 300px;
    color: white;
    margin-top: 5px;
    background-color: black;
}
#head1{
    width: 300px;
    
}
#head1 #img1{
    padding-left: 80px;
}
#head1 #div11{
    padding-left: 60px;
}
#head1 #div21{
    padding-left: 30px;
}
.start1{
    color: rgb(104, 104, 172);
}
.name1{
    color: black;
    font-weight: bold;
}
.company1{
    color: gray;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 25px;
    
}
.price1{
    color: black;
    font-weight: bold;
}

.view1{
    color: red;
    font-size: 14px;
}
#button1:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

#first1{
    border: 2px solid red;
    height: 60px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-top: 20px;
}


#img1{
    height: 230px;
    width: auto;
   margin-left: 30px;
   /* margin-bottom: 200px; */
}

/* 

#container{
    /* display: flex; */
   /* width: 95%; */
   /* height:auto; */
   /* border: 1px solid black; */
   /* margin:auto
   
}
.right{
    width:20%; */
    /* height: auto; */
    /* border: 1px solid black; */
    
/* }
#ol{
  
height: 60px;
background-color: aqua;
font-size: 25px;
justify-content: space-around;

}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
} */ 